.contact-form {
    position: absolute;
    font-family: "MD Primer Bold",Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    color: white;
    padding: 10px 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.form-label {
    margin-top:10px;
    display:inline-block;
    color: #353935;
    font-family: "MD Primer Bold",Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
}
.form-control {
    font-family: "MD Primer Bold",Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    color:  #353935;
}
body {
    background-color: #FFFDFA;
    height: 100%;
    margin: 0;
    width: 100%;
}
.contact-button {
    font-family: "MD Primer Bold",Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}
.br { 
    display: block; 
    margin-bottom: 10px; 
} 
.contact-button:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}
.contact-button:focus {
    border-color: #4285f4;
    outline: none;
}
